/*General*/
html {
    font-size: 22px;
}

* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: seashell;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    opacity: 0.9;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    z-index: 2;
}

header img {
    height: 50px;
    margin-left: 10px;
}

li {
    display: inline;
    text-decoration: underline;
    margin: 10px;
}

/* section 1*/

#section1 {
    display: flex;
    justify-content: center;
}

#background {
    display: flex;
    align-items: center;
    background-image: url(../images/img-mission-background.webp);
    background-size: 100%;
    height: 700px;
    width: 90vw;
}

#banner {
    width: 100%;
}

h2,
h4 {
    margin: 20px;
}

/* section 2 */

#featured {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 700px;
}

#teacontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    width: 1000px;
}
#teacontainer div {
    margin: 10px;
}
div img {
    height: 200px;
    width: 300px;
}

#teacontainer h4 {
    margin-top: 10px;
}

/*Locations*/